* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#image {
  position: absolute;
  top: 0;
  height: 70vh;
  z-index: -1;
  width: 100%;
}

/* NAAAAAAAAAAAVIGATION ################################## */
nav {
  position: fixed;
  top: 0;

  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(0, 0, 0);
}

nav .linux {
  height: 40px;
  border-radius: 50%;
}
.logo a {
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
  text-decoration: none;
  margin-left: -26rem;
  font-weight: 900;
}
.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 900;
  transition: 0.3s;
}
.nav-links li {
  list-style: none;
}

.nav-links li a:hover {
  color: orange;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}
.burger {
  display: none;
}
.burger:hover {
  cursor: pointer;
}

/* BODYYYYYYYYYYY  ########################################3*/

.text {
  width: 100%;
  margin-top: 185px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.text h4 {
  font-size: 14px;
  letter-spacing: 3px;
}

.text h1 {
  font-size: 62px;
  font-weight: 700px;
  margin: 14px 0px;
  animation: drop 1.5s ease;
}

.text h3 {
  font-size: 12px;
  letter-spacing: 3px;
}

#buttonone {
  background-color: white;
  border: none;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 40px;
  width: 150px;
  margin-top: 25px;
  border: 2px solid white;
  transition: 0.5s;
  border-radius: 5px;
}

#buttonone:hover {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 40px;
  border: 2px solid white;
  width: 150px;
  cursor: pointer;
  color: white;
}

/* ABOUT */
/* .container {
  display: grid;
  padding: 30px;
  grid-gap: 1rem;
}
.items {
  color: rgb(12, 15, 12);
  background-color: aqua;
  padding: 30px;
} */

/* FOOOOOOOOOOOOOTERRRRRRRRRRRRR  ###########################################*/
footer {
  position: absolute;
  top: 124rem;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  height: auto;
  width: auto;
  padding-top: 40px;
  color: #fff;
  background: black;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.socials li {
  margin: 0 25px;
  list-style: none;
}
.socials a {
  text-decoration: none;
  color: white;
}
.socials a i {
  font-size: 2rem;
  transition: 0.5s;
}
.socials a:hover i {
  color: orange;
}
.footer-bottom {
  background: rgb(0, 0, 0);

  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

/* #############################################################################3 */
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* VIDEO */
/* @media (min-aspect-ratio: 16/9) {
  .video {
    width: 70vh;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video {
    width: auto;
    height: 70vh;
  }
} */

/* NAVIGATION  */
/* @media screen and (max-width: 1024px) {
  .nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
  }
} */

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .text {
    margin-top: 45%;
  }
  .text h4 {
    font-size: 30px;
  }
  .text h1 {
    font-size: 120px;
    font-weight: 900;
  }
  .text h3 {
    font-size: 30px;
  }
  #buttonone {
    font-size: 20px;
    padding: 15px;
    width: 18rem;
  }
  #buttonone:hover {
    width: 18rem;
  }
  nav .linux {
    height: 70px;
  }
  .logo a {
    margin-left: -15rem;
    font-size: 80px;
  }
  .nav-links {
    overflow: hidden;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    font-size: 40px;
    font-weight: 900;
  }
  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
  .burger div {
    height: 4px;
    width: 60px;
    margin: 1rem;
  }
  .socials a i {
    font-size: 3rem;
  }
  .footer-bottom p {
    font-size: 20px;
  }
}
.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-1rem, 0.8rem);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-1rem, -0.8rem);
}
