* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.video {
  position: fixed;
  top: 0;
  /* right: 0; */

  /* bottom: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;  */
  z-index: -1;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.logo a {
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
  text-decoration: none;

  font-weight: 900;
}
.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 900;
  transition: 0.3s;
}
.nav-links li {
  list-style: none;
}

.nav-links li a:hover {
  color: orange;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3 s ease;
}
.burger {
  display: none;
}
.burger:hover {
  cursor: pointer;
}

/* BODYYYYYYYYYYY */

.text {
  width: 100%;
  margin-top: 185px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.text h4 {
  font-size: 14px;
}

.text h1 {
  font-size: 62px;

  font-weight: 700px;
  margin: 14px 0px;
  animation: drop 1.5s ease;
}

.text h3 {
  font-size: 12px;
}

#buttonone {
  background-color: white;
  border: none;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
  width: 150px;
  font-family: "Montserrat", sans-serif;
  margin-top: 25px;
  border: 3px solid white;
  transition: 0.5s;
  border-radius: 5px;
}

#buttonone:hover {
  background-color: transparent;
  border: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 40px;
  border: 3px solid white;
  width: 150px;
  cursor: pointer;
  color: white;
}
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* VIDEO */
@media (min-aspect-ratio: 16/9) {
  .video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video {
    width: auto;
    height: 100%;
  }
}

/* NAVIGATION  */
@media screen and (max-width: 1024px) {
  .nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    overflow: hidden;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0);
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
